@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <button onclick="topFunction()" id="myBtn"><i class="fa-solid fa-angle-up"></i></button>
    <div class="title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About us</h2>
                    <ul id="" class="breadcrumb">
                        <li class="item"><a href="index.html">Home /</a></li>
                        <li class="item-current item">About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="top">
                        <h2>HOTEL ZANTE SINCE 1992</h2>
                        <p>High quality accommodation services.</p>
                    </div>
                    <div class="bottom">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="images">
                        <div class="image-1">
                            <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/about1.jpg" alt="">
                        </div>
                        <div class="image-2">
                            <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/about2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/restaurant-1.png" alt="">
                        <span id="count1" class="number"></span>
                        <span class="text">Rooms</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/rooms-1.png" alt="">
                        <span id="count2" class="number"></span>
                        <span class="text">Restaurants</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/staff-1.png" alt="">
                        <span id="count3" class="number"></span>
                        <span class="text">Staffs</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/swimming-pool-2.png" alt="">
                        <span id="count4" class="number"></span>
                        <span class="text swim">Swim.pools</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="container">
            <div class="row">
                <h2>Services</h2>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/06/conference.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/06/restaurant.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/06/spa.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/06/swimming.jpg" alt="">
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            </div>
        </div>
    </div>
    <div class="awards">
        <div class="container">
            <div class="row">
                <h2>Awards</h2>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/award1-1.png" alt="">
                        <p>#1 Global Choice</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="image">
                        <img src="https://demo.zantetheme.com/wp-content/uploads/2018/07/award2.png" alt="">
                        <p>#2 Top Quality</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="image">
                        <img class="genuine" src="https://demo.zantetheme.com/wp-content/uploads/2018/07/award3.png" alt="">
                        <p>#1 Genuine Quality</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section css {
    <link rel="stylesheet" href="~/assets/css/about style.css">
}

