@model Login

<main>
    <button onclick="topFunction()" id="myBtn"><i class="fa-solid fa-angle-up"></i></button>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login">
                    <div class="title">
                        <h3>Sign In</h3>
                    </div>
                    <div class="text-danger mb-2 mt-3" asp-validation-summary="All"></div>
                    <form form asp-controller="Account" asp-action="Login" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="text" placeholder="Username or Email" asp-for="UserNameorEmail">
                        <input type="password" placeholder="Password" asp-for="Password">
                        <input type="submit" class="button" required="required" autocomplete="off" id="passwordId" asp-for="Password" value="Sign in">
                        <div class="login-footer">
                            <a asp-action="register">Don't have an account?</a>
                            <a asp-action="ForgotPassword">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section css {
    <link rel="stylesheet" href="~/assets/css/login.css">
}