
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ResetPassword

<main>
    <button onclick="topFunction()" id="myBtn"><i class="fa-solid fa-angle-up"></i></button>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login">
                    <div class="title">
                        <h3>Sign In</h3>
                    </div>
                    <div class="text-danger mb-2 mt-3" asp-validation-summary="All"></div>
                    <form form asp-controller="Account" asp-action="ResetPassword" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="password" placeholder="Password" asp-for="Password">
                        <input type="password" placeholder="Confirm Password" required="required" autocomplete="off" asp-for="ConfirmPassword">
                        <input type="submit" class="button" required="required" autocomplete="off" id="passwordId" asp-for="Password" value="Sign in">
                        <div class="login-footer">
                            <a asp-action="register">Don't have an account?</a>
                            <a asp-action="ForgotPassword">Forgot Password?</a>

                        </div>
                        <input type="hidden" asp-for="Token" value="@Model.Token" />
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section css {
    <link rel="stylesheet" href="~/assets/css/login.css">
}

