<main>
    <button onclick="topFunction()" id="myBtn"><i class="fa-solid fa-angle-up"></i></button>
    <div class="title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="left">
                        <div class="image">
                            <img src="https://demo.zantetheme.com/wp-content/uploads/2021/08/zante-greece.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="right">
                        <h3>Zante Greece</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        <ul>
                            <li>Family Rooms from €29</li>
                            <li>Modern Rooms & Spacious Suites</li>
                            <li>Free WiFi & Cable Television</li>
                            <li>Perfect & Spacious Rooms</li>
                            <li>Perfect & Spacious Rooms</li>
                        </ul>
                        <div class="branch-contact">
                            <span><i class="fa-solid fa-location-dot"></i>Navagio Zakynthos, Greece</span>
                            <span><i class="fa-solid fa-phone"></i>123-12345678</span>
                            <span><i class="fa-regular fa-envelope"></i>greece@zantehotel.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="checka">
        <div class="container-fluid">
            <div class="checking-a">
                <div class="checka-content-box">
                    <!-- <input type="text" name="" id="daterange"> -->
                    <!-- <p id="demo"></p> -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="button" class="form-control rounded-0 text-start" id="daterange">
                                <!-- <input type="date" id="dateInput" class="form-control rounded-0"> -->
                            </div>
                            <div class="col-lg-4">
                                <input type="button" class="form-control rounded-0 text-start" id="addGuestBtn" value="Guest - 1">
                                <div class="guest-member-content">
                                    <span></span>
                                    <div class="guest-title">
                                        <div class="d-flex justify-content-between mb-3">
                                            <div><b>Adults</b><br>Ages 18+</div>
                                            <div class="guest-add-content">
                                                <button id="adultsubGuestNum">-</button>
                                                <strong id="adult-number">1</strong>
                                                <button id="adultaddGuestNum">+</button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div><b>Children</b><br>Ages 4 - 18</div>
                                            <div class="guest-add-content">
                                                <button id="childsubGuestNum">-</button>
                                                <strong id="child-number">0</strong>
                                                <button id="childaddGuestNum">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn" href="book-online.html"><span>Check Availability</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section">
        <div class="container">
            <div class="row">
                <h4>Rooms of Zante Greece</h4>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="image">
                            <img src="https://demo.zantetheme.com/wp-content/uploads/2018/05/room-full-1-720x470.jpg" alt="">
                        </div>
                        <div class="room-details">
                            <a href=""><h5>Deluxe Room</h5></a>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                        </div>
                        <div class="room-price-details">
                            <div class="room-price">
                                <div class="price">
                                    <p><span>€</span>199</p>
                                </div>
                                <p>PER NIGHT</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="image">
                            <img src="https://demo.zantetheme.com/wp-content/uploads/2018/05/single-720x470.jpg" alt="">
                        </div>
                        <div class="room-details">
                            <a href=""><h5>Single Room</h5></a>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                        </div>
                        <div class="room-price-details">
                            <div class="room-price">
                                <div class="price">
                                    <p><span>€</span>210</p>
                                </div>
                                <p>PER NIGHT</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="image">
                            <img src="https://demo.zantetheme.com/wp-content/uploads/2018/05/honeymoon-720x470.jpg" alt="">
                        </div>
                        <div class="room-details">
                            <a href=""><h5>Honeymoon Room</h5></a>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                        </div>
                        <div class="room-price-details">
                            <div class="room-price">
                                <div class="price">
                                    <p><span>€</span>30</p>
                                </div>
                                <p>PER NIGHT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section css {
    <link rel="stylesheet" href="assets/css/branch style.css">
}